#banner {
	height: 70vh;
	background-image: url("../Images/ligue11.jpg");
	background-size: cover;
	background-position: center;
	color: white; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}